@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  /* Aplica la variable de fuente personalizada directamente */
  font-family: var(--font-geist-sans); /* <--- CAMBIA ESTA LÃNEA */
}